body {
  margin: 0 auto;
}
nav {
  background: black;
  height: 85px;
  padding: 15px;
  position: fixed;
  width: 1000vw;
}
nav h1 {
  font-size: 40px;
  color: white;
  padding-bottom: 5px;
  color: blue;
}
nav p {
  font-size: 40px;
  display: block;
  color: white;
}
.time {
  margin-left: 200px;
}
header {
  height: 100vh;
  padding: 30px;
  padding-top: 130px;
  font-size: 45px;
}
/*h1 {
  font-size: 60px;
}*/
header > p {
  /*font-size: 40px;*/
  text-align: justify;
}
header > h2 {
  /*font-size: 50px;*/
  margin-top: 20px;
}
header li {
  /*font-size: 35px;*/
}
#begin {
  float: right;
  height: 80px;
  width: 300px;
  font-size: 40px;
  margin-top: 0;
  margin-right: 0;
  padding: 15px;
}
main {
  margin: 30px;
  padding-top: 130px;
}
div {
  /*height: 100vh;*/
  font-size: 50px;
  padding: 25px;
  background: #aaaaaa;
  border-radius: 20px;
  margin-bottom: 20px;
}
div h2 {
  padding-bottom: 15px;
}
div ul {
  padding-left: 15px;
}
div label {
  padding-left: 20px;
}
div button {
  font-size: 50px;
  margin-top: 15px;
  border-radius: 15px;
}
.forward {
  float: right;
  margin-right: 20px;
}
.hide {
  visibility: hidden;
}
div .falseAnswerText {
  color: red;
}
div .correctAnswerText {
  color: green;
}
.answer {
  margin-bottom: 20px;
}
.forward {
  margin-bottom: 20px;
}
