* {
  font-family: 'EB Garamond', serif;
  }
body {
  margin: 0 auto;
  /*background: #8ddff0;*/
  background: url("images/blue-mist-background.jpg");
  /*image source: http://www.publicdomainpictures.net/pictures/130000/velka/blue-mist-background.jpg*/
  background-size: cover;
}

nav {
  background: black;
  height: 85px;
  padding: 25px 0 0 30px;
  position: fixed;
  width: 1000vw;
  height: 15vh;
  margin-top: -130px;
  margin-bottom: 0;
}
nav h1 {
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  color: white;
  padding-bottom: 10px;
  color: blue;
}
nav p {
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  display: block;
  color: #f6c68b;
}
.time {
  margin-left: 200px;
}
#topscore {
  margin-left: 200px;
}

header {
  font-size: 40px;
  color: white;
  height: 76vh;
  padding: 5px 30px 45px 30px;
  margin-top: 120px;
  background: url("images/636080479657733506210837697_refugee.jpg");
  /*image source: https://www.theodysseyonline.com/humanist-approach-refugee-crisis*/
  background-size: cover;
  Background-position: center bottom;
}
header > section {
  background-color: rgba(255, 255, 255, .5);
  padding: 1px 15px 95px 15px;
}
header p {
  /*font-size: 40px;*/
  font-family: 'EB Garamond', serif;
  text-align: justify;
  color: black;
}
header h2 {
  /*font-size: 50px;*/
  margin-top: 20px;
  font-family: 'Bree Serif', serif;
  padding-bottom: 7px;
  color: #f6c68b;
}
header li {
  /*color: #792583;*/
  color: black;
}
#begin {
  float: right;
  font-size: 40px;
  position: relative;
  bottom: -110px;
  right: 10px;
  background: grey;
  text-decoration: none;
  padding: 20px 25px;
  border-radius: 15px;
  color: #f48529;
  /*color: #f6c68b;*/
}

main {
  margin: 30px 30px 0 30px;
  padding-top: 130px;
}
div {
  /*height: 100vh;*/
  padding: 25px;
  background: #205ee3;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}
div h2 {
  padding-bottom: 15px;
  font-family: 'Bree Serif', serif;
  /*color: #205ee3;*/
}
div p {
  padding-left: 15px;
}
div label {
  padding-left: 20px;
}
div button {
  font-size: 50px;
  margin-top: 15px;
  border-radius: 15px;
  background: #8ddff0;
  font-weight: 600;
  padding: 0 15px 10px 15px;
}
.forward {
  float: right;
  margin-right: 20px;
}
.hide {
  visibility: hidden;
}
div .falseAnswerText {
  color: #3e1958;
  font-weight: bold;
}
div .correctAnswerText {
  color: white;
}
.answer {
  margin-bottom: 20px;
}
.forward {
  margin-bottom: 20px;
}

footer {
  font-size: 50px;
  color: #792583;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 45px;
  text-align: center;
}
#credit {
  width: 100%;
  background: black;
  color: white;
  font-size: 25px;
  text-align: center;
  visibility: visible;
  padding: 5px 5px 10px 5px;
  margin-bottom: -5px;
}
